@use "../../sass/variables";

@media screen and (max-width: 575px) {
    .banner{
        & > .container{
            flex-direction: column;
        }
    }

    .launch-career{
        &>.container{
            flex-direction: column;
        }

        &-info{
             &::after{
                top: -75px;
                right: -120px;
            }
        }
    }
    

    footer{
        padding-top: 44px;

        .footer-firstrow{
            gap: 44px
        }

        .footer-firstrow,
        .footer-secondrow{
            margin-bottom: 44px;
        }

        .footer-nav {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
