@use "../../sass/variables";

@media screen and (max-width: 1199px) {

    .banner{
        & > .container{
            gap: 12px
        }

        &-content {
            padding: 40px 32px;
        }

        &-title{
            font-size: min(8vw,72px);
        }
    }  
    
    .launch-career{
        &-info{
            &::after{
                top: -40px;
                right: -105px;
                opacity: 0.9;
            }
        }
    }
}
