@use "sass/variables";
@use "sass/fonts";
@use "sass/global";
@use "sass/header";
@use "sass/first-screen";
@use "sass/top-platform";
@use "sass/find-job";
@use "sass/launch-career";
@use "sass/user-say";
@use "sass/footer";
@use "sass/media/media";
