@use "variables";

@font-face {
    font-family: 'MonaSans';
    src: url('./assets/fonts/MonaSans-Regular.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MonaSans';
    src: url('./assets/fonts/MonaSans-Medium.ttf') format('truetype');
    font-weight: 500; 
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MonaSans';
    src: url('./assets/fonts/MonaSans-SemiBold.ttf') format('truetype');
    font-weight: 600; 
    font-style: normal;
    font-display: swap;
}
