@use "variables";

header {
    position: relative;
    padding: 16px 0px;

    >.container {
        display: flex;
        align-items: center;
    }

    .header-logo{
        z-index: 2;
    }

    .mobile-container{
        margin-left: auto;
    }

    .btn-burger{
        margin-left: auto;
        position: relative;
        width: 42px;
        height: 20px;
        background-color: transparent;
        border: none;

        span{
            position: absolute;
            top: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: variables.$primary-hover-color;
            transition: .3s;

            &:nth-child(2){
                top: 8px;
            }

            &:last-child{
                top: 16px;
            }
        }

        &.active{
            span{
                transform: rotate(45deg);
                top: 10px;

                &:nth-child(2){
                    transform: rotate(-45deg);
                    top: 11px;
                }
                
                &:last-child{
                    opacity: 0;
                }
            }  
        }
    }

    .header-nav__list {
        display: flex;
        gap: 32px;
    }

    .header-nav__link {
        text-decoration: none;
        color: #0F0F0F;

        &:hover{
            color: variables.$primary-hover-color;
        }
    }

    #header-started{
        margin-left: auto;
    }

   
}

