///fonts///
$font-primary: "MonaSans";
$font-size-base: 16px;

///colors///
$primary-color: #0f0f0f;
$secondary-color: #FFFFFF;
$primary-hover-color: #EE6731;
$bg-color: #FFFFFF;
$bg-accent-color: #0F0F0F;
$bg-orange-color: #EE6731;
$text-color: #0F0F0F;
$text-accent-color: #FFFFFF;


///font///
$h1-font-size: 4.5rem;
$h2-font-size: 3rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.125rem;
$h6-font-size: 1rem;