///fonts///
$font-primary: "MonaSans";
$font-size-base: 16px;

///colors///
$primary-color: #0F0F0F;
$secondary-color: #FFFFFF;
$primary-hover-color: #EE6731;
$bg-color: #FFFFFF;
// $bg-accent-color: #1f2833;
$text-color: #0F0F0F;
$text-accent-color: #FFFFFF;


///font///
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;