<section class="find-job">
    <div class="container">
        <div class="find-job-top">
            <div class="find-job-top__text">
                <h2 class="find-job-title block-title">Search and Find a Job that Suits You</h2>
                <p class="find-job-description block-description">Explore the ultimate platform tailored for finding and securing job opportunities that perfectly match your skills and aspirations.</p>
            </div>
            <button class="btn btn-primary find-job-top-btn">Find More Jobs
                <svg class="find-job-top-btn__svg">
                    <use href="#arrow-right"></use>
                </svg>
            </button>
        </div>
        <div class="find-job-vacancies">
            <div class="find-job-vacancies__item">
                <div class="find-job-company-info">
                    <img src="./assets/img/Logomark1.svg" alt="vacancie image" class="find-job-vacancies__img">
                    <div class="find-job-company-info__wrapper">
                        <h4 class="find-job-company-info__title">UI Designer</h4>
                        <p class="find-job-company-info__company">Arrowlabs Studio</p>
                    </div>  
                </div>
                <p class="find-job-vacancies__description">A UI designer creates intuitive experiences by understanding user needs, enhancing usability and accessibility.</p>
                <div class="find-job-vacancies-info">
                    <div class="find-job-vacancies-info__item">
                        <svg class="find-job-vacancies-info__item-icon">
                            <use href="#icon-clock"></use>
                        </svg>
                        <p class="find-job-vacancies-info__item-text">Full-Time</p>
                    </div>
                    <div class="find-job-vacancies-info__item">
                        <svg class="find-job-vacancies-info__item-icon">
                            <use href="#icon-location"></use>
                        </svg>
                        <p class="find-job-vacancies-info__item-text">Remote</p>
                    </div>
                    <div class="find-job-vacancies-info__item">
                        <svg class="find-job-vacancies-info__item-icon">
                            <use href="#icon-salary"></use>
                        </svg>
                        <p class="find-job-vacancies-info__item-text">$3,500</p>
                    </div>
                </div>
                <button class="btn btn-primary find-job-vacancies-btn">Apply Now</button>
            </div>
            <div class="find-job-vacancies__item">
                <div class="find-job-company-info">
                    <img src="./assets/img/Logomark2.svg" alt="vacancie image" class="find-job-company-info__img">
                    <div class="find-job-company-info__wrapper">
                        <h4 class="find-job-company-info__title">UI/UX Designer</h4>
                        <p class="find-job-company-info__company">One State Studio</p>
                    </div>
                </div>
                <p class="find-job-vacancies__description">A UI/UX designer creates intuitive experiences by understanding user needs, enhancing usability and accessibility.</p>
                <div class="find-job-vacancies-info">
                    <div class="find-job-vacancies-info__item">
                        <svg class="find-job-vacancies-info__item-icon">
                            <use href="#icon-clock"></use>
                        </svg>
                        <p class="find-job-vacancies-info__item-text">Full-Time</p>
                    </div>
                    <div class="find-job-vacancies-info__item">
                        <svg class="find-job-vacancies-info__item-icon">
                            <use href="#icon-location"></use>
                        </svg>
                        <p class="find-job-vacancies-info__item-text">Remote</p>
                    </div>
                    <div class="find-job-vacancies-info__item">
                        <svg class="find-job-vacancies-info__item-icon">
                            <use href="#icon-salary"></use>
                        </svg>
                        <p class="find-job-vacancies-info__item-text">$1,500</p>
                    </div>
                </div>
                <button class="btn btn-primary find-job-vacancies-btn">Apply Now</button>
            </div>
            <div class="find-job-vacancies__item">
                <div class="find-job-company-info">
                    <img src="./assets/img/Logomark3.svg" alt="vacancie image" class="find-job-vacancies__img">
                    <div class="find-job-company-info__wrapper">
                        <h4 class="find-job-company-info__title">Front End Developer</h4>
                        <p class="find-job-company-info__company">Hitech Solution</p>
                    </div>
                </div> 
                <p class="find-job-vacancies__description">A front-end developer builds engaging interfaces by grasping user requirements, improving functionality and ensuring accessibility.</p>
                <div class="find-job-vacancies-info">
                    <div class="find-job-vacancies-info__item">
                        <svg class="find-job-vacancies-info__item-icon">
                            <use href="#icon-clock"></use>
                        </svg>
                        <p class="find-job-vacancies-info__item-text">Full-Time</p>
                    </div>
                    <div class="find-job-vacancies-info__item">
                        <svg class="find-job-vacancies-info__item-icon">
                            <use href="#icon-location"></use>
                        </svg>
                        <p class="find-job-vacancies-info__item-text">On-Site</p>
                    </div>
                    <div class="find-job-vacancies-info__item">
                        <svg class="find-job-vacancies-info__item-icon">
                            <use href="#icon-salary"></use>
                        </svg>
                        <p class="find-job-vacancies-info__item-text">$4,500</p>
                    </div>
                </div>
                <button class="btn btn-primary find-job-vacancies-btn">Apply Now</button>
            </div>
            <div class="find-job-vacancies__item">
                <div class="find-job-company-info">
                    <img src="./assets/img/Logomark4.svg" alt="vacancie image" class="find-job-vacancies__img">
                    <div class="find-job-company-info__wrapper">
                        <h4 class="find-job-company-info__title">UI Designer</h4>
                        <p class="find-job-company-info__company">Goodwell Tech Inovations</p>
                    </div>
                </div>
                <p class="find-job-vacancies__description">A UI designer creates intuitive experiences by understanding user needs, enhancing usability and accessibility.</p>
                <div class="find-job-vacancies-info">  
                    <div class="find-job-vacancies-info__item">
                        <svg class="find-job-vacancies-info__item-icon">
                            <use href="#icon-clock"></use>
                        </svg>
                        <p class="find-job-vacancies-info__item-text">Full-Time</p>
                    </div>
                    <div class="find-job-vacancies-info__item">
                        <svg class="find-job-vacancies-info__item-icon">
                            <use href="#icon-location"></use>
                        </svg>
                        <p class="find-job-vacancies-info__item-text">Remote</p>
                    </div>
                    <div class="find-job-vacancies-info__item">
                        <svg class="find-job-vacancies-info__item-icon">
                            <use href="#icon-salary"></use>
                        </svg>
                        <p class="find-job-vacancies-info__item-text">$7,500</p>
                    </div>
                </div>
                <button class="btn btn-primary find-job-vacancies-btn">Apply Now</button>
            </div>
            <div class="find-job-vacancies__item">
                <div class="find-job-company-info">
                    <img src="./assets/img/Logomark5.svg" alt="vacancie image" class="find-job-vacancies__img">
                    <div class="find-job-company-info__wrapper">
                        <h4 class="find-job-company-info__title">UI Designer</h4>
                        <p class="find-job-company-info__company">Enos Cito Studio</p>
                    </div>
                </div>
                <p class="find-job-vacancies__description">A UI designer creates intuitive experiences by understanding user needs, enhancing usability and accessibility.</p>
                <div class="find-job-vacancies-info">
                    <div class="find-job-vacancies-info__item">
                        <svg class="find-job-vacancies-info__item-icon">
                            <use href="#icon-clock"></use>
                        </svg>
                        <p class="find-job-vacancies-info__item-text">Full-Time</p>
                    </div>
                    <div class="find-job-vacancies-info__item">
                        <svg class="find-job-vacancies-info__item-icon">
                            <use href="#icon-location"></use>
                        </svg>
                        <p class="find-job-vacancies-info__item-text">Remote</p>
                    </div>
                    <div class="find-job-vacancies-info__item">
                        <svg class="find-job-vacancies-info__item-icon">
                            <use href="#icon-salary"></use>
                        </svg>
                        <p class="find-job-vacancies-info__item-text">$2,800</p>
                    </div>
                </div>
                <button class="btn btn-primary find-job-vacancies-btn">Apply Now</button>
            </div>
            <div class="find-job-vacancies__item">
                <div class="find-job-company-info">
                    <img src="./assets/img/Logomark6.svg" alt="vacancie image" class="find-job-vacancies__img">
                    <div class="find-job-company-info__wrapper">
                        <h4 class="find-job-company-info__title">Graphic Designer</h4>
                        <p class="find-job-company-info__company">Rectanglelabs Studio</p>
                    </div>
                </div>
                <p class="find-job-vacancies__description">A graphic designer crafts visually appealing experiences by grasping client objectives, improving aesthetics and functionality.</p>
                <div class="find-job-vacancies-info">
                    <div class="find-job-vacancies-info__item">
                        <svg class="find-job-vacancies-info__item-icon">
                            <use href="#icon-clock"></use>
                        </svg>
                        <p class="find-job-vacancies-info__item-text">Part-Time</p>
                    </div>
                    <div class="find-job-vacancies-info__item">
                        <svg class="find-job-vacancies-info__item-icon">
                            <use href="#icon-location"></use>
                        </svg>
                        <p class="find-job-vacancies-info__item-text">Remote</p>
                    </div>
                    <div class="find-job-vacancies-info__item">
                        <svg class="find-job-vacancies-info__item-icon">
                            <use href="#icon-salary"></use>
                        </svg>
                        <p class="find-job-vacancies-info__item-text">$800</p>
                    </div>
                </div>
                <button class="btn btn-primary find-job-vacancies-btn">Apply Now</button>
            </div>
        </div>
    </div>
</section>