<section class="banner">
    <div class="container">
        <div class="banner-content">
            <h1 class="banner-title">Empower Our Path A Journey Towards Growth and Success</h1>
            <p class="banner-description">By prioritizing empowering our professional path, we unlock greater innovation, productivity, and job satisfaction across the entire organization.</p>
            <div class="banner-buttons">
                <button id="banner-started" class="btn">Get Started Now</button>
                <button id="banner-learn" class="btn orange">Learn More</button>
            </div>
            <div class="banner-candidates">
                <div class="banner-candidates__imges">
                    <img class="banner-candidates__img" src="" alt="candidate image">
                    <img class="banner-candidates__img" src="" alt="candidate image">
                    <img class="banner-candidates__img" src="" alt="candidate image">
                </div>
                <p class="banner-candidates__text">120M+ Worldwide Candidates</p>
            </div>
            <div class="banner-companies">
                <a href="#" class="banner-companies__link">
                    <img src="./assets/img/first-screen/focalpoint.svg" alt="Company logo" class="company-logo">
                </a>
                <a href="#" class="banner-companies__link">
                    <img src="./assets/img/first-screen/screentime.svg" alt="Company logo" class="company-logo">
                </a>
                <a href="#" class="banner-companies__link">
                    <img src="./assets/img/first-screen/segment.svg" alt="Company logo" class="company-logo">
                </a>
            </div>
        </div>
        <img src="./assets/img/first-screen/banner_img.png" alt="Reviews image" class="banner-img">
    </div>
</section>