<section class="banner">
    <div class="container">
        <div class="banner-content">
            <h1 class="banner-title">Empower Our Path A Journey Towards Growth and <br>Success</h1>
            <p class="banner-description">By prioritizing empowering our professional path, we unlock greater innovation, productivity, and job satisfaction across the entire organization.</p>
            <div class="banner-buttons">
                <button id="banner-started" class="btn btn-primary">Get Started Now</button>
                <button id="banner-learn" class="btn btn-secondary">Learn More</button>
            </div>
            <div class="banner-candidates">
                <div class="banner-candidates__images">
                    <img class="banner-candidates__img" src="./assets/img/candidate1.png" alt="i">
                    <img class="banner-candidates__img" src="./assets/img/candidate2.png" alt="i">
                    <img class="banner-candidates__img" src="./assets/img/candidate3.png" alt="i">
                </div>
                <p class="banner-candidates__text">120M+ Worldwide<br>Candidates</p>
            </div>
            <div class="banner-companies">
                <h6 class="banner-companies__title">Trusted by Company</h6>
                <div class="banner-companies__wrapper">
                    <a href="#" class="banner-companies__link">
                        <img src="./assets/img/focalpoint.svg" alt="Company logo" class="company-logo">
                    </a>
                    <a href="#" class="banner-companies__link">
                        <img src="./assets/img/screentime.svg" alt="Company logo" class="company-logo">
                    </a>
                    <a href="#" class="banner-companies__link">
                        <img src="./assets/img/segment.svg" alt="Company logo" class="company-logo">
                    </a>
                </div>
            </div>
        </div>
        <div class="banner-rewiews">
            <img class="rewiews-img" src="./assets/img/banner_rewiew.png" alt="rewiew">
            <img class="rewiews-img" src="./assets/img/banner_rewiew2.png" alt="rewiew">
        </div>
    </div>
</section>