<section class="launch-career">
    <div class="container">
        <div class="launch-career-info">
            <h2 class="launch-career-title block-title">Easy Ways to Launch Your Career</h2>
            <p class="launch-career-description block-description">Elevate your career by implementing effective strategies that can make a significant difference.</p>
            <ul class="launch-career-steps">
                <li class="launch-career-steps__item">
                    <p class="launch-career-steps__number">01</p>
                    <div class="launch-career-steps__text">
                        <h3 class="launch-career-steps__title">Create Your Profile</h3>
                        <p class="launch-career-steps__description">To begin your journey with us, take a moment to set up your profile. This will help us tailor your experience and connect you with the right resources and community.</p>
                    </div>
                </li>
                <li class="launch-career-steps__item">
                    <p class="launch-career-steps__number">02</p>
                    <div class="launch-career-steps__text">
                        <h3 class="launch-career-steps__title">Search Job Opportunities</h3>
                        <p class="launch-career-steps__description">To begin your journey with us, take a moment to set up your profile. This will help us tailor your experience and connect you with the right resources and community.</p>
                    </div>
                </li>
                <li class="launch-career-steps__item">
                    <p class="launch-career-steps__number">03</p>
                    <div class="launch-career-steps__text">
                        <h3 class="launch-career-steps__title">Easy Apply with One Clikc</h3>
                        <p class="launch-career-steps__description">To begin your journey with us, take a moment to set up your profile. This will help us tailor your experience and connect you with the right resources and community.</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="launch-career-reviews">
            <img class="launch-career-reviews__item" src="../assets/img/launch-career-review.png" alt="Launch career review">
        </div>
    </div>
</section>