<section class="top-platform">
    <div class="container">
        <h2 class="top-platform-title">Discover the Top Platform for Sharing Career Opportunities.</h2>
        <p class="top-platform-description">Dive into the leading platform designed specifically for discovering and exchanging a wealth of career opportunities.</p>
        <div class="top-platform-opportunities">
            <div class="top-platform-opportunities__item">
                <img src="/assets/img/opportunities-icon1.svg" alt="opportunities icon" class="top-platform-opportunities__icon">
                <h3 class="top-platform-opportunities__title">Professional Community</h3>
                <p class="top-platform-opportunities__description">Creating a seamless and effortless interaction between individuals or teams is essential for fostering collaboration and enhancing productivity. When communication flows smoothly, it allows for better understanding, quicker decision-making, and a more cohesive working environment.</p>
            </div>
            <div class="top-platform-opportunities__item">
                <img src="/assets/img/opportunities-icon2.svg" alt="opportunities icon" class="top-platform-opportunities__icon">
                <h3 class="top-platform-opportunities__title">Seamless Communication</h3>
                <p class="top-platform-opportunities__description">Creating a seamless and effortless interaction between individuals or teams is essential for fostering collaboration and enhancing productivity. When communication flows smoothly, it allows for better understanding, quicker decision-making, and a more cohesive working environment.</p>
            </div>
            <div class="top-platform-opportunities__item">
                <img src="/assets/img/opportunities-icon3.svg" alt="opportunities icon" class="top-platform-opportunities__icon">
                <h3 class="top-platform-opportunities__title">Efficient Recruitment</h3>
                <p class="top-platform-opportunities__description">Creating a seamless and effortless interaction between individuals or teams is essential for fostering collaboration and enhancing productivity. When communication flows smoothly, it allows for better understanding, quicker decision-making, and a more cohesive working environment.</p>
            </div>
            <div class="top-platform-opportunities__item">
                <img src="/assets/img/opportunities-icon4.svg" alt="opportunities icon" class="top-platform-opportunities__icon">
                <h3 class="top-platform-opportunities__title">Opportunities from Countries</h3>
                <p class="top-platform-opportunities__description">Creating a seamless and effortless interaction between individuals or teams is essential for fostering collaboration and enhancing productivity. When communication flows smoothly, it allows for better understanding, quicker decision-making, and a more cohesive working environment.</p>
            </div>
        </div>
    </div>
</section>