<section class="user-say">
    <div class="container">
        <div class="user-say-top">
            <div class="user-say-text-wrapper">
                <h2 class="user-say-title block-title">Let’s See What User Say About Us</h2>
                <p class="user-say-description block-description">Expert legal service, delivered with care. We provide support and guidance for your legal matters.</p>  
            </div>
            <div class="user-say-navigation">
                <button id="nav-prev-btn" class="btn btn-navigation btn-navigation__prev swiper-button-prev">
                    <svg class="arrow-svg">
                        <use id="use-prev" href="#arrow-black"></use>
                    </svg>
                </button>
                <button id="nav-next-btn" class="btn btn-navigation btn-navigation__next swiper-button-next">
                    <svg class="arrow-svg">
                        <use id="use-next" href="#arrow-black"></use>
                    </svg>
                </button>
            </div>
        </div>
        
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="comment">
                        <img src="assets/img/user-say-photo1.png" alt="user photo" class="comment-img">
                        <div class="comment-wrapper">
                            <svg class="comment-quote">
                                <use href="#quote-up"></use>
                            </svg>
                            <h3 class="comment-text">“Nietzsche made my job search incredibly efficient. The intuitive interface and relevant job listings saved me so much time. I found my dream job faster than I ever thought possible!”</h3>
                            <div class="comment-author">
                                <h5 class="comment-author__name">Yeni Iskandar</h5>
                                <p class="comment-author__position">UI Designer at Toktok</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                   <div class="comment">
                        <img src="assets/img/user-say-photo2.png" alt="user photo" class="comment-img">
                        <div class="comment-wrapper">
                            <svg class="comment-quote">
                                <use href="#quote-up"></use>
                            </svg>
                            <h3 class="comment-text">"Nietzsche transformed my job hunt into a breeze. With its user-friendly design and tailored job suggestions, I saved a ton of time. I landed my ideal position quicker than I ever imagined!"</h3>
                            <div class="comment-author">
                                <h5 class="comment-author__name">Indah Puspita</h5>
                                <p class="comment-author__position">Project Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                   <div class="comment">
                        <img src="assets/img/user-say-photo3.png" alt="user photo" class="comment-img">
                        <div class="comment-wrapper">
                            <svg class="comment-quote">
                                <use href="#quote-up"></use>
                            </svg>
                            <h3 class="comment-text">"Nietzsche transformed my job hunt into a breeze. With its user-friendly design and tailored job suggestions, I saved a ton of time. I landed my ideal position quicker than I ever imagined!"</h3>
                            <div class="comment-author">
                                <h5 class="comment-author__name">Yono Bakrie</h5>
                                <p class="comment-author__position">UI/UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>